<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Elastic Search</title>

    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="indian-flag.ico">

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="contents/style.css" rel="stylesheet">
    <link href="bower_components/font-awesome/css/font-awesome.css" rel="stylesheet">

    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="app.js"></script>
    <script src="scripts/dashboardController.js"></script>



</head>
<body ng-app="app">
    <div ui-view>
    </div>
</body>

</html>